@charset "utf-8";
html{
    font-size: 62.5%;
}

body{
    width: 1400px;
    color: purple;
    background-color: plum;
    font-family: "Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}
img{
    width: 50%;
    height: auto;
}/* ここから下に記載していく */

h1{
    color:#ffffff;
    font-size: 5rem;
    font-weight: bold;
    background-color: #ffb6c1;
    margin: 20px;
    padding: 20px;
    width: auto;
    height: 50%;
}
ul{
    color:#6b8e23;
    font-size: 60px;
    background-color: #eee8aa;
    margin: 20px;
    padding: auto;
    width: auto;
    height: 50%;
}
div{
    color:#6b8e23;
    font-size: 3rem;
    font-weight: bold;
    background-color: plum;
    margin: 20px auto 20px;
    width: 100%;
    height: auto;
    text-align: center;
}
.yourhand{
    display:flex;
}
.you{
    justify-content: space-around;
}
html{
    width: auto;
    height: 50%;
}
footer{
    font-size: 1.6rem;
}